@font-face {
    font-family: yaHei;
}
* {
    font-family: "Microsoft YaHei", yaHei;
}
.wrap{
    width: 100%;
}
header{
    width: 100%;
    height: 136px;
    background: linear-gradient(left,#d90412,#bb0c11);
    background: -webkit-linear-gradient(left, #d90412,#bb0c11); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #d90412,#bb0c11); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #d90412,#bb0c11); /* Firefox 3.6 - 15 */
}
header ul{
    width: 70%;
    height: inherit;
    margin: 0 auto;
}
header ul li{
    width: 14.28%;
    text-align: center;
    display: inline-block;
    line-height: 136px;
    font-size: 14px;
    float: left;
}
header ul li a{
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
}

header ul li:nth-child(4) img{
    vertical-align: middle;
}

.carousel{
    width: 100%;
    height: 642px;
    overflow: hidden;
}
.carousel div img{
    width: 100%;
    height: 642px;
}
.content{
    width: 100%;
}
.content .introduce{
    width: inherit;
    margin-top: 20px;
    height: 250px;
}
.introduce>ul{
    width: inherit;
}

.introduce>ul>li:nth-child(2){
    margin: 0 5%;
}
.introduce>ul>li{
    box-sizing: border-box;
    height: 100px;
    width: 30%;
    float: left;
    display: inline-block;
}
.introduce>ul>li>div{
    width: 100%;
}
.sub-intro-head{
    width: 100%;
    background-color: #e70012;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}
.introduce>ul>li .video img{
    width: 100%;
    height: 220px;
}
.BYD_intro{
}
.BYD_intro p{
    font-size: 14px;
    line-height: 22px;
    height: 160px;
    padding: 15px 20px;
    background: #e5e5e5;
    color: #000;
}
.BYD_intro img{
    float: left;
    width: 100px;
    height: 190px;
}
.news ul{
    padding: 15px;
    height: 160px;
    background-color:#e5e5e5;
}
.news ul li{
    width: 100%;
    height: 22px;
    clear: both;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

}
.news ul li span{
    display: inline-block;
    vertical-align: middle;
}
.news ul li span:nth-child(1){
    float: left;
}
.news ul li span:nth-child(2){
    float: right;
}
footer{
    background: #414141;
    color: #ffffff;
    height: 316px;
}
footer .footer-wrap{
    width: 60%;
    margin:0 auto;
    padding-top: 100px;
    text-align: center;
}
footer .footer-wrap h3{
    font-size: 17px;
    padding: 20px;
    color: #ffffff;
    font-weight: normal;
}
footer .footer-wrap .sel {
    display: inline-block;
}
footer .footer-wrap .sel span{
    border: .5px solid #878787;
    color: #878787;
    padding: 5px;
}
footer .footer-wrap select{
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
footer .footer-wrap p{
    padding-top: 20px;
    font-size: 12px;
    line-height: 16px;
    color: #878787;
}
.sub-car-title{
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    color: #e70012;
}
.divide{
    width: 100%;
}

.divide span{
    display: inline-block;
    text-align: center;

    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #a0a0a0;
    margin: 0 16px;
}
.divide:before{
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    background: #a0a0a0;
    width: 48%;
    float: left;
    content: "";
    margin-top: 7px;
}
.divide:after{
    display: inline-block;
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    background: #a0a0a0;
    width: 48%;
    float: right;
    content: "";
    margin-top: 7px;
}
.car-wrap{
    width: 100%;
}
.car-module{
    width: 80%;
    margin: 35px auto 50px auto;
}
.car-module ul li{
    width: 25%;
    float: left;
}
.car-module ul li span{
    display: inline-block;
    float: left;
    margin-right: 15px;

}
.car-module ul li h4{
    font-size: 17px;
    color: #a0a0a0;
    line-height: 20px;
}
.car-module ul li p{
    width: 85%;
    font-size: 12px;
    color: #303030;
}
.wall {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100%;
}
.wall ul{
    width: 100%;
}
.wall ul li{
    float: left;
    width: 33%;
    height: 242px;
    overflow: hidden;
    margin-bottom: 10px;
}
.wall ul li:nth-child(2),.wall ul li:nth-child(5){
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.wall ul li img{
    width: 100%;
    vertical-align:middle;
    text-align: center;
}